.section {
  min-height: 110vh;
  padding-top: 8.3vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  h1 {
    font-family: Almarai;
    font-size: 7vw;
    font-weight: 400;
    line-height: 7vw;
    text-transform: uppercase;
    margin-bottom: 3.4vw;
  }
}

@media (max-width: 1024px) {
  .section {
    padding-top: 16vw;

    h1 {
      font-size: 12.8vw;
      line-height: 12.8vw;
      margin-bottom: 8.5vw;
    }
  }
}

.noneBefore ::before {
  display: none !important;
}
