.section {
  background-color: #000; /* Чорний фон */
  background-image: url("/images/sections-bg/service-elipse.png"); /* Шлях до картинки */
  background-size: contain; /* Картинка покриває всю секцію */
  background-position: right; /* Картинка вирівнюється по центру */
  background-repeat: no-repeat; /* Картинка не повторюється */
  padding: 7vw 0;

  h2 {
    color: #ffffff;
    font-family: Almarai;
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 4.1vw;
    text-align: left;
    margin-bottom: 1.8vw;
  }

  ul {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6vw;

    a {
      position: relative; /* Потрібно для позиціонування псевдоелемента */
      padding: 2.7vw 0 2.5vw 0;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 0.06vw solid rgba(255, 255, 255, 0.1);

      div {
        transition: 0.5s;
      }

      /* Псевдоелемент для градієнтного border-bottom */
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.06vw; /* Товщина лінії */
        background: var(--primary-gradient);

        transition: width 0.5s ease;
      }
    }

    @media (min-width: 1024px) {
      a:hover .arrowIcon {
        transform: translateX(calc(29.5vw - 200%)) rotate(45deg);
      }
    }

    a:hover div {
      transform: translateY(-10%);
    }

    /* Ефект на псевдоелементі під час ховера */
    a:hover::after {
      width: 100%; /* Розтягуємо лінію на всю ширину елемента */
    }
  }

  svg {
    fill: rgb(105, 105, 105);
    width: 10.5vw;
    height: 10.5vw;
    margin-bottom: 0.8vw;
  }

  h3 {
    color: #ffffff;
    font-family: DM Sans;
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.2vw;
    text-align: left;
    margin-bottom: 1.1vw;
  }

  p {
    color: rgba(255, 255, 255, 0.6);
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 300;
    line-height: 1.4vw;
    text-align: left;
    max-width: 25vw;
  }

  .arrowIcon {
    width: 2.2vw;
    height: 2.2vw;
    transition: 0.5s;
  }
}

/* Стилі для іконок */
.serviceIcon {
  fill: #b0b0b0; /* Початковий колір іконки */
  transition: fill 0.3s ease; /* Анімація для зміни кольору */
}

a {
  transition: transform 0.3s ease; /* Анімація для li */
}

a:hover .serviceIcon {
  fill: url(#gradient); /* Градієнт, що змінюється при ховері */
}

/* Опис градієнта */
svg {
  width: 0;
  height: 0;
}

@media (max-width: 1024px) {
  .section {
    padding: 21.3vw 0;
    background-size: cover;
    background-position: -80vw;

    h2 {
      font-size: 9.6vw;
      line-height: 9.6vw;
      text-align: center;
      margin-bottom: 10.6vw;
    }

    ul {
      display: block;

      & a {
        padding: 0 4.2vw 8.5vw 4.2vw;
        aspect-ratio: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 0.5vw solid rgba(255, 255, 255, 0.1);
      }

      li:not(:last-child) {
        display: block;
        margin-bottom: 12.5vw;
      }
    }

    svg {
      fill: rgb(105, 105, 105);
      width: 28.2vw;
      height: 28.2vw;
      margin-bottom: 3.2vw;
    }

    h3 {
      font-size: 6.4vw;
      line-height: 6.4vw;
      margin-bottom: 4.2vw;
    }

    p {
      font-size: 3.7vw;
      line-height: 5.6vw;
      max-width: none;
    }

    .arrowIcon {
      position: absolute;
      top: 0;
      right: 4.2vw;
      width: 8.5vw;
      height: 8.5vw;
    }
  }
}
