.animated-heading {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: inherit;
  font-weight: inherit;
  align-items: inherit;
  justify-content: inherit;
  font-size: inherit;
  line-height: inherit;
}

.letter {
  display: inline-block;
  transform-origin: bottom;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  will-change: transform, opacity;
}
