.section {
  position: relative;
  overflow: hidden; /* Прибирає зайві частини фону */
  height: 100vh;
  padding-top: 12vw;
}

.section::before {
  content: "";
  position: absolute;
  top: -50%; /* Робимо розмір більше для уникнення обрізання */
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url(/images/sections-bg/home-hero-bg.jpg);
  background-size: contain;
  background-position: center;
  z-index: -1; /* Відправляємо фон на задній план */
  transform: rotate(0deg); /* Початковий стан */
  animation: rotateBgOnly 30s linear infinite; /* Додаємо анімацію */
}

@keyframes rotateBgOnly {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1; /* Поверх основного фону */
  pointer-events: none; /* Щоб не заважав взаємодії */
  opacity: 1; /* Початково затемнено */
}

.section.noOverlay::after {
  opacity: 0.9;
}

.rotatingCircles {
  position: relative;
  margin: 0 auto;
  width: 8vw;
  height: 8vw;
  margin-bottom: 2vw;

  img {
    position: absolute;
  }

  .circle2 {
    width: 90%;
    margin-left: 0.3vw;
    margin-top: 0.3vw;
    animation: rotateClockwise 10s linear infinite; /* Анімація за годинниковою стрілкою */
  }

  .circle1 {
    width: 100%;
    animation: rotateCounterClockwise 10s linear infinite; /* Анімація проти годинникової стрілки */
  }
}

/* Ключові кадри для обертання за годинниковою стрілкою */
@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ключові кадри для обертання проти годинникової стрілки */
@keyframes rotateCounterClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.content {
  width: fit-content;
  margin: 0 auto;

  h2 {
    font-family: Almarai;
    font-size: 6.2vw;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }

  p {
    font-family: DM Sans;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.8vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4.1vw;
  }

  .heroHoverLink {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-family: Almarai;
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 2.5vw;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 8.3vw;
  }

  .heroHoverLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px; /* Висота лінії підкреслення */
    background-color: #ffffff; /* Колір підкреслення */
    transition: 0.3s ease; /* Анімація для розширення */
  }

  .heroHoverLink:hover::after {
    width: 0; /* Лінія підкреслення з'являється по всій ширині елементу */
  }
}
