.accordion {
  background-color: black;
  background-image: url(/images/sections-bg/service-elipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2vw;
  padding: 2.7vw;
  overflow-y: scroll;

  h3,
  p {
    color: #ffffff;
  }

  h2 {
    font-family: DM Sans;
    font-size: 3.3vw;
    font-weight: 500;
    line-height: 3.3vw;
    color: #ffffff;
    margin-bottom: 2.2vw;
  }

  h3 {
    font-family: DM Sans;
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 2vw;
  }

  p {
    font-family: DM Sans;
    font-size: 0.8vw;
    font-weight: 200;
    line-height: 1vw;
    opacity: 0.7;
  }
}

.section {
  transition: 0.3s;
}

.section:not(:last-child) {
  margin-bottom: 1vw;
}

.section:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header {
  display: flex;
  gap: 1.4vw;
  padding: 1.3vw 1.6vw;
  cursor: pointer;
  align-items: center;

  img {
    width: 1.4vw;
    height: 1.4vw;
  }
}

.content {
  padding: 1.3vw 1.6vw;
  padding-top: 0;
}

.faq-link a {
  color: black !important;
}

@media (max-width: 1024px) {
  .accordion {
    padding: 14vw 4.2vw;
    background-size: cover;
    background-position: -50vw;

    h2 {
      font-size: 7.4vw;
      line-height: 7.4vw;
      text-align: center;
      margin-bottom: 4.2vw;
    }

    p {
      font-size: 4.8vw;
      line-height: 7.2vw;
    }

    .header {
      padding: 5.3vw 6.4vw;
      gap: 3.2vw;
      align-items: center;

      img {
        width: 4.2vw;
        height: 4.2vw;
      }

      h3 {
        font-size: 4.2vw;
        line-height: 6.4vw;
      }
    }

    .content {
      padding: 5.3vw 6.4vw;
      padding-top: 0;
    }
  }
}
