.animatedLine {
  stroke-dasharray: 1500; /* Довжина лінії */
  stroke-dashoffset: 1500; /* Початкове значення */
  animation: drawLine 10s ease forwards; /* Змінений час анімації */
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 1500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
