.animatedLine {
  stroke-dasharray: 1500; /* Довжина лінії */
  stroke-dashoffset: 1500; /* Початкове значення */
  animation: drawLine 10s ease forwards; /* Змінений час анімації */
}
@keyframes drawLine {
  0% {
    stroke-dashoffset: 1500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animatedLineForm {
  stroke-dasharray: 2800; /* Це повинно бути більшим за довжину лінії */
  stroke-dashoffset: 2000; /* Лінія повністю прихована спочатку */
  animation: drawLineForm 10s ease forwards; /* Анімація за 3 секунди */
}

@keyframes drawLineForm {
  0% {
    stroke-dashoffset: 2000; /* Початкове значення, лінія не видима */
  }
  100% {
    stroke-dashoffset: 0; /* Лінія малюється повністю */
  }
}

.formLine {
  position: absolute;
  width: 100%;
  height: auto;
  transform: translateY(-10vw) translateX(2vw);
  pointer-events: none;
}

.proline {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .proline {
    display: none;
  }
}
