.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5vw;
  padding: 2.5vw 0;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.container:not(:last-child) {
  border-bottom: 2px solid rgba(11, 11, 11, 0.1); /* Рамка */
}

.container:last-child {
  padding-bottom: 0;
}

.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;

  h3 {
    font-family: DM Sans;
    font-size: 3.3vw;
    font-weight: 500;
    line-height: 3.3vw;
    text-align: left;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4vw;
    margin-bottom: 1.5vw;

    li {
      font-family: DM Sans;
      font-size: 1.1vw;
      font-weight: 500;
      line-height: 1.6vw;
      text-align: left;
      color: rgba(11, 11, 11, 0.7);
      padding: 0.13vw 0.7vw;
      border-radius: 2.3vw;
      background: rgba(11, 11, 11, 0.04);
    }
  }

  p {
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
    text-align: left;
    color: rgba(11, 11, 11, 0.5);
  }
}

.imageContainer {
  height: 30vw;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
  }
}
