.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5vw;
  padding: 2.5vw 0;
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-top: 1px solid rgba(11, 11, 11, 0.1);
  margin-top: 2.5vw;
}

.container:not(:last-child) {
  border-bottom: 2px solid rgba(11, 11, 11, 0.1); /* Рамка */
}

.container:last-child {
  padding-bottom: 0;
}

.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;

  h3 {
    font-family: DM Sans;
    font-size: 3.3vw;
    font-weight: 500;
    line-height: 3.3vw;
    text-align: left;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4vw;
    margin-bottom: 1.5vw;

    li {
      font-family: DM Sans;
      font-size: 1.1vw;
      font-weight: 500;
      line-height: 1.6vw;
      text-align: left;
      color: rgba(11, 11, 11, 0.7);
      padding: 0.13vw 0.7vw;
      border-radius: 2.3vw;
      background: rgba(11, 11, 11, 0.04);
    }
    .nda {
      background: var(--primary-gradient);
      color: white;
    }
  }

  p {
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
    text-align: left;
    color: rgba(11, 11, 11, 0.5);
  }
}

.imageContainer {
  height: 30vw;
  width: 100%;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.nda {
  background: var(--primary-gradient) !important;
  color: white !important;
}

@media (max-width: 1024px) {
  .container {
    display: block;
    padding: 8.5vw 0;
  }

  .container:not(:last-child) {
    border-bottom: 1px solid rgba(11, 11, 11, 0.1); /* Рамка */
  }

  .containerContent {
    display: block;
    width: auto;

    h3 {
      font-size: 7.4vw;
      line-height: 7.4vw;
      margin-bottom: 6.4vw;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4vw;
      row-gap: 1vw;

      margin-bottom: 3.2vw;

      li {
        font-size: 3.2vw;
        line-height: 4.8vw;
        padding: 0.5vw 1.6vw;
      }
    }

    p {
      font-size: 3.7vw;
      line-height: 5.6vw;
    }
  }

  .imageContainer {
    height: auto;
    width: 100%;
    margin-bottom: 9.6vw;
  }
}
