.heroSection {
  padding-top: 7.6vw;
  padding-bottom: 3.1vw;

  .heroTitle {
    font-family: Almarai;
    font-size: 7vw;
    font-weight: 400;
    line-height: 7vw;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4.5vw;

    span {
      display: inline-block;
    }
  }

  .heroDesc {
    text-align: center;
    width: 41vw;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.2vw;
    color: #ffffff;
    margin-bottom: 2vw;
  }

  .heroHoverLink {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-family: Almarai;
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 2.5vw;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 8.3vw;
  }

  .heroHoverLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px; /* Висота лінії підкреслення */
    background-color: #ffffff; /* Колір підкреслення */
    transition: 0.3s ease; /* Анімація для розширення */
  }

  .heroHoverLink:hover::after {
    width: 0; /* Лінія підкреслення з'являється по всій ширині елементу */
    transform: translateY(0.5vw) !important;
  }

  .heroHoverLink:hover {
    transform: translateY(-0.5vw) !important;
  }

  .homeHeroItemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6vw;

    li {
      background-color: rgba(255, 255, 255, 0.2);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      padding-left: 5.2vw;

      p {
        font-family: DM Sans;
        font-size: 2.2vw;
        font-weight: 500;
        line-height: 2.8vw;
        text-align: left;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}
