.heroSection {
  position: relative;
  padding-top: 12.8vw;
  padding-bottom: 3.1vw;
  overflow: hidden;

  /* background-image: url(/images/sections-bg/home-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; */

  background: var(--primary-gradient);

  .heroTitle {
    position: relative;
    font-family: Almarai, sans-serif;
    font-size: 7vw;
    font-weight: 400;
    line-height: 7vw;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4.5vw;

    span {
      display: inline-block;
    }

    .rotatingCircles {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 22vw;
      height: 22vw;

      img {
        position: absolute;

        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  .heroDesc {
    text-align: center;
    width: 41vw;
    margin: 0 auto;
    font-family: DM Sans, sans-serif;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.2vw;
    color: #ffffff;
    margin-bottom: 2.5vw;
  }

  .heroHoverLink {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-family: Almarai, sans-serif;
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 2.5vw;
    color: #ffffff;
    transition: 0.3s;
    margin-bottom: 8.3vw;
  }

  .heroHoverLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px; /* Висота лінії підкреслення */
    background-color: #ffffff; /* Колір підкреслення */
    transition: 0.3s ease; /* Анімація для розширення */
  }

  .heroHoverLink:hover::after {
    width: 0; /* Лінія підкреслення з'являється по всій ширині елементу */
    transform: translateY(0.5vw);
  }

  .heroHoverLink:hover {
    transform: translateY(-0.5vw) !important;
  }

  .homeHeroItemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6vw;

    li {
      background-color: rgba(255, 255, 255, 0.2);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      padding-left: 5.2vw;

      p {
        font-family: DM Sans, sans-serif;
        font-size: 2.2vw;
        font-weight: 500;
        line-height: 2.8vw;
        text-align: left;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

.circle1,
.circle2 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 10s; /* Тривалість обертання */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle1 {
  animation-name: rotateClockwise;
}

.circle2 {
  animation-name: rotateCounterClockwise;
}

/* Анімація за годинниковою стрілкою */
@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Анімація проти годинникової стрілки */
@keyframes rotateCounterClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animatedCurve path {
  stroke-dasharray: 2000; /* Довжина лінії */
  stroke-dashoffset: 2000; /* Приховати лінію */
  animation: drawPath 4s linear infinite; /* Безкінечна анімація */
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0; /* Лінія з'являється */
  }
}

.svg {
  position: absolute;
  top: 5.7vw;
  width: 100%;
  height: auto;
  stroke: rgba(255, 255, 255, 0.2);
}

.path {
  fill: none;
  stroke-width: 3;
  stroke-dasharray: 3000; /* Довжина шляху, можна підібрати */
  stroke-dashoffset: 3000; /* Початкове значення для прихованої лінії */
  animation: draw 5s linear forwards; /* Анімація */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0; /* Лінія повністю малюється */
  }
}

@media (max-width: 1024px) {
  .heroSection {
    padding-top: 36.8vw;
    padding-bottom: 20vw;

    .heroTitle {
      font-size: 12.8vw;
      line-height: 12.8vw;
      text-align: center;
      margin-bottom: 15vw;

      span {
        display: inline-block;
      }

      .rotatingCircles {
        width: 40vw;
        height: 40vw;

        img {
          position: absolute;

          transform: translateY(-50%) translateX(-50%);
        }
      }
    }

    .heroDesc {
      width: 86vw;
      font-size: 3.7vw;
      line-height: 4.8vw;
      margin-bottom: 8vw;
    }

    .heroHoverLink {
      font-size: 5vw;
      line-height: 9.6vw;
      margin-bottom: 19vw;
    }

    .swiper {
      position: relative;
      overflow: visible;
      padding-bottom: 15vw;
    }

    .swiperSlideContent {
      background-color: rgba(255, 255, 255, 0.2);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 95%;
      width: 85vw;
      margin: 0 auto;

      p {
        font-family: DM Sans, sans-serif;
        font-size: 5.8vw;
        font-weight: 500;
        line-height: 7.4vw;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }

  .svg {
    left: 0;
    top: 23.7vw;
    height: auto;
    stroke: rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
    transform: scale(1.5);
  }
}

.customBullet {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

/* Стиль для активних точок пагінації */
.customBulletActive {
  background-color: #ffffff; /* Колір активної точки */
  transform: scale(1.3);
}
