/* HomeReviewSection.module.css */

.section {
  background-color: #000;
  background-image: url("/images/sections-bg/company-elipse.png");
  background-size: 70vw;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 11vw 0;
}
