/* HomeReviewSection.module.css */

.section {
  background-color: #000;
  background-image: url(/images/sections-bg/company-elipse.png);
  background-size: 71vw;
  background-position: left 27vw;
  background-repeat: no-repeat;
  padding: 10.4vw 0;
}

@media (max-width: 1024px) {
  .section {
    background-position: -120vw;
    padding: 24vw 0;
  }
}
