.section {
  background-image: url(/images/about-page/about-review-elipse.png),
    url(/images/about-page/about-review-bg.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat;
  padding-bottom: 11.5vw;
  overflow: hidden;
}

.reviewContent {
}

.container {
  padding-top: 36vw;

  display: grid;
  grid-template-columns: 1.5fr 3fr;
}

.rightText {
  font-family: DM Sans;
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 1.6vw;
  color: rgba(255, 255, 255, 1);
  width: 13vw;
}

.sentirContaienr {
  display: flex;
  gap: 0.7vw;
  align-items: center;

  div {
    background-color: #ffffff;
    border-radius: 100%;
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 70%;
      height: 70%;
    }
  }

  span {
    font-family: DM Sans;
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.6vw;
    color: #ffffff;
  }
}

.quotes {
  width: 2.5vw;
  margin-bottom: 2vw;
}

.contentText {
  font-family: DM Sans;
  font-size: 1.9vw;
  font-weight: 400;
  line-height: 2.9vw;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 3.2vw;
  padding-bottom: 2vw;
  border-bottom: 0.06vw solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 1024px) {
  .section {
    background-size: cover, cover;
    background-position: 0, 0;
  }

  .container {
    display: block;
    padding-top: 81.3vw;
    padding-bottom: 24.2vw;
  }

  .rightText {
    font-size: 4.2vw;
    line-height: 6.4vw;
    width: 50vw;
    margin-bottom: 21.6vw;
  }

  .quotes {
    width: 9.6vw;
    margin-bottom: 15.2vw;
  }

  .contentText {
    font-size: 5.3vw;
    line-height: 8vw;
    margin-bottom: 9.6vw;
    padding-bottom: 7.7vw;
  }

  .sentirContaienr {
    gap: 2.6vw;

    div {
      width: 7.2vw;
      height: 7.2vw;

      img {
        width: 3.7vw;
        height: 3.7vw;
      }
    }

    span {
      font-size: 4.2vw;
      line-height: 6.4vw;
    }
  }
}
