/* Скидання відступів, полів та ліній висоти */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* Заборона виділення тексту */
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE/Edge */
}

/* Видалення стандартного стилю списків */
ul,
ol {
  list-style: none;
}

.main-content {
  min-height: 100vh;
}

/* Видалення стандартного підкреслення посилань */
a {
  text-decoration: none;
  color: inherit;
}

/* html {
  scroll-behavior: smooth;
} */

/* Нормалізація шрифтів */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  width: 100vw;
}

/* Видалення рамок для елементів форм */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

/* Скидання таблиць */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Задаємо більш передбачуваний стиль для зображень */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Встановлення загальних розмірів для кнопок */
button {
  cursor: pointer;
  background: none;
}

@media (min-width: 1024px) {
  .faq-link {
    border-top: 0.06vw solid rgba(0, 0, 0, 0.1);
    padding-top: 2vw;
    margin-top: 2vw;
  }

  .faq-link a {
    color: black !important;
  }
}

input:-internal-autofill-selected {
  appearance: menulist-button !important;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-webkit-autofill {
  caret-color: rgb(248, 0, 0);
}

input {
  transition: background-color 10000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

input:-webkit-autofill {
  filter: brightness(100%);
}
