.heroSection {
  background-color: #000;
  /* background-image: url(/images/about-page/about-hero-elipse.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center -50vw; */

  .titleContainer {
    color: #ffffff;

    h1,
    p {
      color: inherit;
    }

    h1 {
      position: relative;
      z-index: 9;
      font-family: Almarai;
      font-size: 7vw;
      font-weight: 400;
      line-height: 7vw;
      text-transform: uppercase;
      margin-bottom: 1.6vw;
    }

    p {
      position: relative;
      z-index: 9;
      font-family: DM Sans;
      font-size: 2.2vw;
      font-weight: 500;
      line-height: 2.2vw;
      letter-spacing: -0.03em;
      width: 100%;
      padding-bottom: 4.3vw;
      border-bottom: 0.06vw solid rgba(255, 255, 255, 0.1);
      margin-bottom: 5.8vw;
    }
  }
}

.heroSection {
  position: relative;
  background-color: #000;
  padding-top: 13.5vw;
  padding-bottom: 10vw;
  overflow: hidden; /* Щоб приховати вихід псевдоелемента за межі */
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 100vw;
  height: 100vw;
  background-image: url(/images/about-page/about-hero-elipse.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotateElipse 20s linear infinite;
}

@keyframes rotateElipse {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.heroSection::before {
  animation: pulseBackground 10s ease-in-out infinite,
    rotateElipse 20s linear infinite;
}

@keyframes pulseBackground {
  0%,
  100% {
    background-image: url(/images/about-page/about-hero-elipse.png);
  }
  50% {
    background-image: url(/images/about-page/about-hero-brightness-elipse.png);
  }
}

.gradientText {
  font-family: DM Sans;
  font-size: 2.2vw;
  font-weight: 500;
  line-height: 2.3vw;
  background: var(--primary-gradient);
  width: 41vw;
  margin-left: auto;
  -webkit-background-clip: text;
  color: transparent; /* Оскільки текст не має кольору, ми використовуємо градієнт на фоні */
}

@media (max-width: 1024px) {
  .heroSection {
    padding-top: 40.5vw;
    padding-bottom: 21vw;

    .titleContainer {
      h1 {
        font-size: 12.8vw;
        line-height: 12.8vw;
        text-align: center;
        margin-bottom: 8vw;
      }

      p {
        font-size: 6.4vw;
        line-height: 6.4vw;
        text-align: center;
        padding-bottom: 10.6vw;
        margin-bottom: 13.3vw;
      }
    }
  }

  .heroSection::before {
    width: 150vw;
    height: 150vw;
    top: 25vw;
  }

  .gradientText {
    font-size: 6.4vw;
    line-height: 6.4vw;
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
}
