.navList {
  display: flex;
  align-items: center;

  a {
    display: block;
    position: relative;
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 1.4vw;
    text-align: left;
    color: inherit; /* Використовуємо колір, який буде задано в React */
    padding: 1.5vw 1.5vw 1.2vw 1.5vw;

    svg {
      width: 0.7vw;
      height: 0.7vw;
      transition: 0.3s;
    }
  }

  .active {
    background-color: azure;
  }

  a::after {
    content: "";
    position: absolute;
    width: calc(100% - 3vw);
    background-color: currentColor; /* Фон успадковує колір тексту */
    height: 1px;
    bottom: 1.4vw;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition-duration: 0.3s;
  }

  a:hover::after {
    opacity: 1;
  }
}

.headerContactBtn {
  padding: 0.5vw 1.3vw;
  border: 0.06vw solid;
  border-color: inherit;
  border-radius: 2.6vw;
  font-family: Inter;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.4vw;
  color: inherit;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 3.5vw;
}

.backdrop svg {
  fill: inherit;
}

.backdrop:hover svg {
  transform: rotate(180deg);
}

.backdrop:hover .backdropContent {
  max-height: 20vw;
  padding: 0.6vw 1.5vw;

  padding-top: 0;
}

.backdropContent {
  position: absolute;
  max-height: 0vw;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.9vw);
  z-index: 9;
  transition: 0.5;
  max-width: 14vw;

  a {
    display: block;
    margin: 0.5vw 0;
    padding: 0;
    width: max-content;
  }

  a::after {
    bottom: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}

.serviceLink {
  display: flex !important;
  align-items: center;
  gap: 0.2vw;
}

@media (max-width: 1024px) {
  .headerContactBtn {
    padding: 2.1vw 5.3vw;
    border: 0.06vw solid;
    border-radius: 10.1vw;
    font-size: 3.2vw;
    line-height: 4.8vw;
  }

  .burger {
    background-color: rgba(255, 255, 255, 0.1);
    width: 10.6vw;
    height: 10.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 1vw;

    img {
      width: 6.4vw;
      height: 6.4vw;
    }
  }
}

.navBurgerLine {
  width: 5vw;
  height: 0.5vw;
  background-color: white;
  border-radius: 1vw;
  transition: transform 0.3s;
}

.burger.opened .navBurgerLine:first-child {
  transform: rotate(45deg) translate(0.5vw, 0.4vw); /* Зміщення і обертання */
}

.burger.opened .navBurgerLine:last-child {
  transform: rotate(-45deg) translate(0.5vw, -0.4vw); /* Протилежне обертання */
}
