.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.2vw;

  svg {
    width: 2.2vw;
    height: 2.2vw;
  }

  span {
    font-family: DM Sans;
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1.3vw;
  }
}

header {
  position: fixed; /* Фіксуємо елемент */
  left: 3.5vw;
  z-index: 9;
  width: 93vw;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer {
  transition: top 0.3s;
}

.headerContainer.hide {
  top: -4.5vw; /* Ховаємо хедер */
}

.headerContainer.show {
  top: 0;
}

@media (max-width: 1024px) {
  .headerContainer.hide {
    top: -18vw; /* Ховаємо хедер */
  }

  .logoContainer {
    gap: 0.5vw;

    svg {
      width: 8.5vw;
      height: 8.5vw;
    }

    span {
      font-size: 5.3vw;
      line-height: 5.3vw;
    }
  }

  header {
    padding: 4.2vw 0;
  }
}
