header {
  position: fixed;
  left: 0;
  z-index: 9998;
  width: 100%;
  background: rgba(0, 0, 0, 0); /* Початковий прозорий фон */
  transition: 0.25s;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* transition: top 10s; */
}

.headerContainer.hide {
  top: -4.5vw; /* Ховаємо хедер */
}

.headerContainer.show {
  top: 0;
}

header.scrolled a svg {
  fill: black;
}

header.scrolled {
  background: rgba(255, 255, 255, 1); /* Непрозорий фон */
  opacity: 1; /* Повна прозорість при скролі */
}

header.scrolled .logoContainer svg {
  fill: black; /* Зміна кольору іконки при скролі */
}

header.scrolled .logoContainer span {
  color: black !important; /* Зміна кольору тексту при скролі */
}

header.scrolled * {
  color: black;
  border-color: black; /* Зміна кольору для всіх елементів в хедері */
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.2vw;
}

.logoContainer svg {
  width: 2.2vw;
  height: 2.2vw;
}

.logoContainer span {
  font-family: DM Sans;
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.3vw;
  transition: color 0.3s ease-in-out;
}

.scrolled {
  width: 100%;
  left: 0vw;
  /* Закрита кнопка меню */
  .close {
    div {
      background-color: black;
    }
  }
}

@media (max-width: 1024px) {
  .headerContainer.hide {
    top: -20vw; /* Ховаємо хедер */
  }

  .logoContainer {
    gap: 0.5vw;
  }

  .logoContainer svg {
    width: 8.5vw;
    height: 8.5vw;
  }

  .logoContainer span {
    font-size: 5.3vw;
    line-height: 5.3vw;
  }

  header {
    padding: 4.2vw 0;
  }
}
