.cursor-case .cursor {
  transform: scale(7) !important;
  background-image: url(/icons/custom-arrow.png);
  background-size: cover;
  mix-blend-mode: normal;
}

.cursor-case .cursor::before {
  opacity: 0 !important;
}
