.cursor-case .cursor {
  transform: scale(10);
  background-image: url(/icons/custom-arrow-svg.svg);
  background-size: cover;
  mix-blend-mode: normal;
}

.cursor-case .cursor::before {
  opacity: 0 !important;
}
