.section {
  position: relative;
  /* background: var(--primary-gradient); */
  background-image: url("/images/sections-bg/form-section-bg.avif");
  background-size: cover;
  padding: 7.2vw 0 8.3vw 0;
  overflow: hidden;
  z-index: 1;
  /* margin: 0 auto; */
  transition: transform 1s;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 8.3vw 0 4.3vw;
}

.title {
  font-family: Almarai;
  font-size: 7vw;
  font-weight: 400;
  line-height: 7vw;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  width: 35vw;
}

@media (max-width: 1024px) {
  .section {
    padding: 21.3vw 0;
    background-size: 100% 100%;
  }
  .container {
    display: block;
    padding: 0;
  }

  .title {
    font-size: 12.8vw;
    line-height: 12.8vw;
    margin-bottom: 13.6vw;
    width: 60vw;
  }
}
