.section {
  background-image: url(/images/service-elipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  overflow: hidden;
  padding-bottom: 9vw;
  margin-top: 4vw;
  padding-top: 5vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  min-height: 80vh;
}

.contentTitleContainer {
  display: grid;
  gap: 4.8vw;
  grid-template-columns: 1.1fr 1fr;

  h3 {
    font-family: DM Sans;
    font-size: 3.6vw;
    font-weight: 400;
    line-height: 3.9vw;
    flex: 1;
  }

  div:not(:last-child) {
    margin-bottom: 1.7vw;
  }

  .serviceOptionContainer {
    flex: 1;
    span {
      font-family: DM Sans;
      font-size: 1.1vw;
      font-weight: 500;
      line-height: 1.6vw;
      color: rgba(11, 11, 11, 0.4);
      margin-bottom: 0.2vw;
    }

    p {
      font-family: DM Sans;
      font-size: 1.6vw;
      font-weight: 400;
      line-height: 1.8vw;
    }
  }
}

.sidebar {
  position: relative;
  padding-left: 5vw;
  max-width: 24vw;
}

.sidebar .tab {
  padding: 1.1vw 1.6vw;
  cursor: pointer;
  color: #838383;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: DM Sans;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.9vw;
  transition: 0.3s;
}

.tab:hover {
  color: #000000;
}

@media (min-width: 1024px) {
  .activeTab {
    font-weight: bold;
    color: #000000 !important;
  }

  .tab:hover {
    transform: scale(1.2);
    color: #000000;
  }
}
.activeTab {
  font-weight: bold;
  color: #000000 !important;
}

.content {
  position: relative;
  padding: 0 4.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 0.1vw;
  background: var(--primary-gradient);
}

.desc {
  font-family: DM Sans;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.6vw;
  margin-bottom: 2.2vw;
}

@media (max-width: 1024px) {
  .section {
    padding: 13.3vw 0;
  }

  .container {
    display: block;
  }

  .sidebar {
    padding: 0;
    display: flex;
    overflow-x: auto;
    margin-bottom: 13vw;
    padding-left: 3vw;
    max-width: none;

    .tab {
      white-space: nowrap;
      padding: 4.2vw 2.1vw;
      font-size: 4.2vw;
      line-height: 5vw;
    }
  }

  .content {
    display: block;
    padding-top: 10.6vw;
    padding-left: 6.4vw;
    padding-bottom: 10vw;
  }

  .content::after {
    height: 1px;
    width: 100%;
  }

  .content::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: var(--primary-gradient);
  }

  .contentTitleContainer {
    display: block;
    margin-bottom: 14.4vw;

    h3 {
      font-size: 8.5vw;
      line-height: 9.3vw;
      margin-bottom: 13.8vw;
    }

    div:not(:last-child) {
      margin-bottom: 6.6vw;
    }

    .serviceOptionContainer {
      span {
        font-size: 4.2vw;
        line-height: 6.4vw;
        margin-bottom: 1vw;
      }
      P {
        font-size: 4.8vw;
        line-height: 5vw;
      }
    }
  }

  .desc {
    font-size: 4.2vw;
    line-height: 6.4vw;
    margin-bottom: 10.6vw;
  }
}
.sidebar {
  /* Приховування скролбару для Webkit браузерів (Chrome, Safari, Opera) */
  -webkit-overflow-scrolling: touch; /* Гладкий скролінг для мобільних */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
