footer {
  padding: 3vw 0 3.8vw 0;
  border-top: 0.06vw solid rgba(11, 11, 11, 0.1);
  overflow: hidden;
}

.footerContainer {
  display: grid;
  grid-template-areas:
    "logo menu services social"
    "bottom bottom bottom bottom";
  grid-template-columns: 1.3fr 1.3fr 2.5fr 2fr;
  margin-bottom: 6.3vw;

  p {
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
    color: rgba(11, 11, 11, 0.5);
    margin-bottom: 0.4vw;
    text-transform: uppercase;
  }

  a {
    display: block;
    background: var(--links-gradient);
    background-size: 100% 100%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 1);
    font-family: DM Sans;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    width: fit-content;
  }

  a:hover {
    color: rgba(0, 0, 0, 0);
  }

  @keyframes rainbow {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
}

.logoContainer {
  display: flex !important;
  align-items: center;
  gap: 0.3vw;
  height: fit-content;

  img {
    width: 3.7vw;
  }

  span {
    font-family: DM Sans;
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.2vw;
  }
}

.menuNav {
  a {
    font-family: DM Sans;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.4vw;
  }

  ul {
    li:not(:last-child) {
      margin-bottom: 0.7vw;
    }
  }
}

.serviceNav {
  a {
    font-family: DM Sans;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 2.5vw;
  }

  ul {
    li:not(:last-child) {
      margin-bottom: 0.8vw;
    }
  }
}

.socialContainer {
  a {
    font-family: DM Sans;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 2.5vw;

    svg {
      width: 2vw;
      height: 2vw;
    }
  }
  ul {
    margin-top: 1.3vw;
    display: flex;
    gap: 2vw;
  }

  div:not(:last-child) {
    margin-bottom: 1.4vw;
  }
}

.footerBottomContainer {
  display: grid;
  grid-template-columns: 5.1fr 2fr;

  a,
  p {
    font-family: DM Sans;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4vw;
    color: rgba(11, 11, 11, 0.6);
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 11vw 0;
  }

  .footerContainer {
    display: block;

    p {
      text-align: center;
      font-size: 3.7vw;
      line-height: 5.6vw;
    }
  }

  .logoContainer {
    justify-content: center;
    gap: 1vw;
    margin-bottom: 3.2vw;

    img {
      width: 8.5vw;
      height: 8.5vw;
    }

    span {
      font-size: 5.8vw;
      line-height: 5.8vw;
    }
  }

  .mobAddText {
    font-family: DM Sans;
    font-size: 4.2vw;
    font-weight: 400;
    line-height: 4.2vw;
    text-align: center;
    color: rgba(11, 11, 11, 0.2) !important;
    margin-bottom: 5vw !important;
    text-transform: lowercase !important;
  }

  .serviceNav {
    margin-bottom: 10vw;

    a {
      font-size: 5.3vw;
      line-height: 10vw;
      text-align: center;
      margin: 0 auto;
    }
  }

  .socialContainer {
    div:not(:last-child) {
      margin-bottom: 9vw;
    }

    ul {
      justify-content: center;
      gap: 7.4vw;
      margin-bottom: 12vw;
    }

    a {
      font-size: 5.3vw;
      line-height: 8vw;
      text-align: center;
      margin: 0 auto;

      svg {
        width: 7vw;
        height: 7vw;
      }
    }
  }

  .footerBottomContainer {
    display: block;
    a {
      display: block;
      text-align: center;
      font-size: 3.6vw;
      line-height: 5.6vw;
    }
  }
}
