.swiperContainer {
  position: relative;
}

.swiperSlide {
  display: grid;
  grid-template-columns: 1fr 1.52fr;
  padding-left: 4vw;
}

.reviewerInfo {
  display: flex;
  gap: 1.3vw;
}

.reviewerAvatar {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 100%;
}

.reviewerFullname {
  font-family: DM Sans;
  font-size: 2.9vw;
  font-weight: 400;
  line-height: 3.1vw;
  margin-bottom: 0.2vw;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: -0.03em;
}

.reviewerDirect {
  font-family: DM Sans, sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.5vw;
  margin-bottom: 0.8vw;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: -0.03em;
}

.reviewerCompany {
  display: flex;
  align-items: center;
  gap: 0.7vw;

  img {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
  }

  p {
    font-family: DM Sans;
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 1.6vw;
    color: rgba(255, 255, 255, 1);
  }
}

.reviewContent {
  font-family: DM Sans;
  font-size: 1.6vw;
  font-weight: 300;
  line-height: 2.5vw;
  letter-spacing: 0.01vw;

  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 2vw;
  border-bottom: 0.06vw solid rgba(255, 255, 255, 0.1);
}

.swiperNav {
  display: flex;
  cursor: pointer;

  div {
    padding: 1.3vw;
    transition: 0.5s;
  }
  img:nth-child(2) {
    display: none;
    opacity: 0;
    transition: opacity 3s;
  }

  div:hover {
    background-color: #222;
    border-radius: 100%;

    img:nth-child(2) {
      display: block;
      opacity: 1;
    }
    img:nth-child(1) {
      display: none;
    }
  }

  img {
    width: 2.2vw;
    height: 2.2vw;
  }
}

.swiperOptions {
  padding-left: 4vw;
  display: grid;
  grid-template-columns: 1fr 1.52fr;
  align-items: center;
  margin-top: 5vw;
}

.customPaginationContainer {
  position: relative;
  border-radius: 1vw;
  overflow: hidden;

  background-color: rgba(240, 240, 240, 0.3);
  width: 13vw;
  height: 0.1vw; /* Висота прогрес-бару */
}

@media (max-width: 1024px) {
  .swiperSlide {
    display: block;
  }

  .reviewerInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.3vw;
    margin-bottom: 11.2vw;
  }

  .reviewerAvatar {
    width: 16.5vw;
    height: 16.5vw;
  }

  .reviewerFullname {
    font-size: 8.5vw;
    line-height: 9.3vw;
    margin-bottom: 1.6vw;
  }

  .reviewerDirect {
    font-size: 5vw;
    line-height: 5vw;
    text-align: center;
  }

  .reviewerCompany {
    justify-content: center;
    gap: 2.6vw;

    img {
      width: 5.3vw;
      height: 5.3vw;
    }

    p {
      font-size: 3.7vw;
      line-height: 5.6vw;
    }
  }

  .reviewContent {
    font-size: 5.3vw;
    line-height: 8vw;
    text-align: center;
    border: none;
    padding: 0;
    margin-bottom: 11.2vw;
  }

  .swiperOptions {
    display: block;
  }

  .swiperNav {
    justify-content: center;
    margin-bottom: 2vw;

    div {
      width: 18.6vw;
      height: 18.6vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 8.5vw;
      height: 8.5vw;
    }
  }

  .customPaginationContainer {
    margin: 0 auto;
    height: 0.5vw;
    width: 50vw;
  }
}
