.custom-pagination .swiper-pagination-progressbar-fill {
  background: linear-gradient(
    to right,
    #54aaf0 40%,
    #f354c4 60%,
    #fa2677 80%,
    #ff5a4a 94.01%
  );
}

.swiper-button-disabled {
  filter: brightness(0.2);
}

.swiper-button-disabled:hover {
  background-color: transparent !important;

  img:nth-child(1) {
    display: block !important;
    opacity: 1 !important;
  }
  img:nth-child(2) {
    display: none !important;
  }
}

.swiper-slide {
  opacity: 0;
  transform: translateY(400px) scale(0.5) !important;
  transition: all 0.8s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: translateY(0) scale(1) !important;
}
