.companyContainer {
  h2 {
    font-family: Almarai;
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 4.1vw;
    text-align: center;
    color: #ffffff;
    width: 50vw;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 5.5vw;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;

    li {
      position: relative;
      flex: 1;
      background-color: rgba(255, 255, 255, 0.2);
      height: 13vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 1s;

      img {
        transform: scale(0.6);
        transition: transform 1s;
      }

      a {
        position: relative;
        z-index: 2; /* Встановлюємо з-index, щоб посилання було над затемненням */
        color: white;
        text-decoration: none;
      }

      /* Додаємо псевдоелемент для затемнення */
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Колір затемнення */
        opacity: 1; /* Початково затемнення приховане */
        transition: opacity 0.5s; /* Анімація затемнення */
        z-index: 1; /* Псевдоелемент позаду тексту */
      }

      &:hover::before {
        opacity: 0; /* Показуємо затемнення при ховері */
      }
    }

    li:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    li:hover img {
      transform: scale(0.7);
    }
  }
}

@media (max-width: 1024px) {
  .companyContainer {
    h2 {
      font-size: 8vw;
      line-height: 9.6vw;
      width: 53vw;
      margin-bottom: 8.8vw;
    }

    ul {
      flex-wrap: wrap;
      gap: 3.4vw;

      li {
        flex-basis: calc((100% - 3.4vw) / 2);
        height: 26.6vw;

        img {
          transform: scale(0.5);
        }
      }
    }
  }
}
