.section {
  height: 48vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 36vw;
}

.section::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/images/about-page/about-review-elipse.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20vw 5vw;
}

.titleContainer {
  position: relative;
  z-index: 1;
  p {
    font-family: DM Sans;
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.2vw;
    color: #ffffff;
    margin-bottom: 2vw;
  }

  h1 {
    font-family: Inter;
    font-size: 4.4vw;
    font-weight: 500;
    line-height: 4.3vw;
    color: #ffffff;
    max-width: 58vw;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 70vw 0 13vw 0;
    background-position: center;
    height: auto;
    background-size: cover;
  }

  .section::before {
    background-size: 300vw;
    background-position: center 10vw;
  }

  .titleContainer {
    p {
      font-size: 6.4vw;
      line-height: 6.4vw;
      margin-bottom: 5.3vw;
    }

    h1 {
      font-size: 9.6vw;
      line-height: 9vw;
      max-width: none;
    }
  }
}
