/* Сховаємо стандартний курсор */
* {
  cursor: none !important;
}

/* Стиль кастомного курсора */
.cursor {
  position: fixed;
  width: 20px; /* Розмір курсора */
  height: 20px; /* Розмір курсора */
  background-color: rgba(11, 11, 11, 0.5);
  border-radius: 50%;
  pointer-events: none; /* Курсор не повинно перекривати інші елементи */
  z-index: 9999999;
  transition: transform 0.3s;
}

.cursor::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(110%, 110%);
  content: "";
  width: 30%;
  height: 30%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Стиль при ховері на лінках */
.cursor-hover .cursor {
  transform: scale(1.7);
}

.cursor-hover .cursor::before {
  opacity: 1;
}

/* Стилі для лінків при ховері */
a {
  text-decoration: none;
  color: inherit;
}
