/* Сховаємо стандартний курсор */
* {
  cursor: none !important;
}

/* Стиль кастомного курсора */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgb(41 41 41);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999999;
  transition: transform 0.3s;
  mix-blend-mode: difference;
}

.cursor::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(110%, 110%);
  content: "";
  width: 30%;
  height: 30%;
  border: 0.5px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Стиль при ховері на лінках */
.cursor-hover .cursor {
  transform: scale(1.7);
}

.cursor-hover .cursor::before {
  opacity: 1;
}

/* Стилі для лінків при ховері */
a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
