.scroller {
  position: relative;
  width: 100%;
  height: auto !important; /* Секція займає всю висоту екрану */
  max-height: none !important;
  overflow: hidden; /* Приховуємо все, що виходить за межі */
  padding-top: 7vw !important;
}

.horizontalBlocks {
  display: flex; /* Горизонтальне розташування блоків */
  height: auto; /* Висота блоків відповідає секції */
  gap: 10vw;
}

.block {
  flex-shrink: 0; /* Блоки не зменшуються */
  width: 100%; /* Кожен блок займає всю ширину вікна */
  align-items: stretch;
  justify-content: space-between;
  display: flex;
  min-height: 85vh;
}
/* Додаткові кольори для блоків */

.blockDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40vw;

  h3 {
    font-family: DM Sans;
    font-size: 3.3vw;
    font-weight: 500;
    line-height: 3.3vw;
  }

  ul {
    li {
      list-style: disc;
      margin-left: 2vw;
      font-family: DM Sans;
      font-size: 1.2vw;
      font-weight: 400;
      line-height: 1.8vw;
      color: rgba(11, 11, 11, 0.5);
    }

    li:not(:last-child) {
      margin-bottom: 0.5vw;
    }
  }
}

.image {
  aspect-ratio: 1;
  width: 50%;
  max-height: 85vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.lastCaseList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8.6vw;
  row-gap: 2vw;
  margin-bottom: 3vw;

  div {
    flex-basis: calc((100% - 8.6vw) / 2);

    h4 {
      font-family: DM Sans;
      font-size: 1.6vw;
      font-weight: 300;
      line-height: 1.8vw;
      margin-bottom: 0.3vw;
    }

    p {
      font-family: DM Sans;
      font-size: 1.1vw;
      font-weight: 400;
      line-height: 1.6vw;
      color: rgba(11, 11, 11, 0.3);
    }
  }
}

.techStack {
  background-color: rgba(245, 247, 249, 1);
  padding: 1.4vw 2vw;

  p {
    font-family: DM Sans;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 1.8vw;
    margin-bottom: 1.6vw;
  }

  .iconList {
    display: flex;
    align-items: center;
    gap: 2vw;

    img {
      width: 2.7vw;
    }
  }
}

.progressBarWrapper {
  position: absolute;
  top: 5vw;

  left: 50%;
  transform: translateX(-50.5%);
  width: 91.6vw;

  height: 0.2vw;
  background-color: #d3d3d3; /* Сірий фон */
  z-index: 1000;
}

.progressBar {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #ff0080, #7928ca);

  transition: width 0.1s ease-out;
}

@media (max-width: 1024px) {
  .scroller {
    padding-top: 20vw !important;
    padding-bottom: 10vw;
  }

  .progressBarWrapper {
    top: 15vw;
    height: 2px;
  }

  .block {
    flex-direction: column-reverse;
  }

  .image {
    width: 100%;
    margin-bottom: 13.8vw;
  }

  .blockDesc {
    display: block;
    width: auto;

    h3 {
      font-size: 7.4vw;
      line-height: 7.4vw;
      margin-bottom: 8.5vw;
    }

    ul {
      padding-left: 6vw;
      overflow-y: auto;
      max-height: 80vw;

      li {
        font-size: 4.9vw;
        line-height: 6.4vw;
      }

      li:not(:last-child) {
        margin-bottom: 2vw;
      }
    }
  }

  .lastCaseList {
    margin-bottom: 13vw;
    row-gap: 5vw;
    div {
      h4 {
        font-size: 4.8vw;
        line-height: 5vw;
        margin-bottom: 2.1vw;
      }
      p {
        font-size: 4.2vw;
        line-height: 4.5vw;
      }
    }
  }

  .techStack {
    padding: 4.2vw 5.3vw;

    P {
      font-size: 4.8vw;
      line-height: 5vw;
      margin-bottom: 5vw;
    }

    .iconList {
      gap: 3vw;

      img {
        width: 8.5vw;
      }
    }
  }
}
