.heroSection {
  background-color: #000;
  /* background-image: url(/images/about-page/about-hero-elipse.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center -50vw; */
  padding-top: 13.5vw;
  padding-bottom: 5vw;

  .titleContainer {
    color: #ffffff;

    h1,
    p {
      color: inherit;
    }

    h1 {
      position: relative;
      font-family: Almarai;
      font-size: 7vw;
      font-weight: 400;
      line-height: 7vw;
      text-transform: uppercase;
      margin-bottom: 1.6vw;
      z-index: 9;
    }

    p {
      position: relative;

      font-family: DM Sans;
      font-size: 2.2vw;
      font-weight: 500;
      line-height: 2.2vw;
      letter-spacing: -0.03em;
      width: 100%;
      padding-bottom: 4.3vw;
      border-bottom: 0.06vw solid rgba(255, 255, 255, 0.1);
      margin-bottom: 8vw;
      z-index: 9;
    }
  }
}

.heroSection {
  position: relative;
  background-color: #000;
  padding-top: 13.5vw;
  padding-bottom: 5vw;
  overflow: hidden; /* Щоб приховати вихід псевдоелемента за межі */
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 100vw;
  height: 100vw;
  background-image: url(/images/about-page/about-hero-elipse.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotateElipse 20s linear infinite;
}

@keyframes rotateElipse {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.heroSection::before {
  animation: pulseBackground 10s ease-in-out infinite,
    rotateElipse 20s linear infinite;
}

@keyframes pulseBackground {
  0%,
  100% {
    background-image: url(/images/about-page/about-hero-elipse.png);
  }
  50% {
    background-image: url(/images/about-page/about-hero-brightness-elipse.png);
  }
}

.innovationSection {
  background-image: url(/images/sections-bg/home-hero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -30vw;
  padding: 8.3vw 2.7vw;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: fit-content;
      font-family: DM Sans;
      font-size: 3.6vw;
      font-weight: 400;
      line-height: 3.9vw;
      color: #ffffff;
    }

    p {
      font-family: DM Sans;
      font-size: 1vw;
      font-weight: 400;
      line-height: 1.4vw;
      width: 40vw;
      color: #ffffff;
    }
  }
}

@media (max-width: 1024px) {
  .heroSection {
    padding-top: 40.5vw;

    .titleContainer {
      margin-bottom: 13.3vw;

      h1 {
        font-size: 12.8vw;
        line-height: 12.8vw;
        text-align: center;
        margin-bottom: 8vw;
        justify-content: center;
      }

      p {
        font-size: 6.4vw;
        line-height: 6.4vw;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10.6vw;
      }
    }
  }

  .heroSection::before {
    width: 150vw;
    height: 150vw;
    top: 25vw;
  }

  .innovationSection {
    background-image: url(/images/sections-bg/home-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 21.3vw 0;

    .container {
      display: block;

      h2 {
        font-size: 8.5vw;
        line-height: 9.3vw;
        margin-bottom: 10.6vw;
        width: 55vw;
      }

      p {
        font-size: 3.7vw;
        line-height: 5.6vw;
        width: auto;
      }
    }
  }
}
